body {
    margin: 0;
    height: 300vh;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    
    // jest czescia header wiec inherit bierze od rodzica kolor
    color: inherit;
}